[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "0.115.6"}
requests = "*"
aiohttp = "*"
fastapi-cache2 = "0.2.2"
coloredlogs = "*"

[dev-packages]

[requires]
python_version = "3.8"
